@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/*  COLORS

#998599
#604766 

/* BODY */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #998599;
  color: #604766;
}
